// Navigation Styles here
.extendedborder-box {
    margin-top: 2px;
    padding-bottom: 24px;
    border-bottom: 2px dashed silver;
    @media @mobile {
        padding-bottom: 10px;
    }
    .nav-menu {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        padding-top: 21px;
        justify-content: flex-end;
        justify-content: space-between;
        align-items: center;
        @media @mobile {
            flex-direction: column;
        } 
        
    }
}

nav {
 padding-left: 10px;
    display:flex;
    justify-content: space-evenly;
    width: 45.09%;
    @media @mobile {
            width: 100%; 
             
        }

    a {
        font-size: 1.6rem;
        text-decoration: none;
        color: black;  
        @media @mobile {
            
        }
        
     }
    }
    

   
    
    

    






